.btech-brexit-page {
  font-size: 16px;
  line-height: 24px;
  color: #1e293b;
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 75ch;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.btech-brexit-h1 {
  font-size: 60px !important;
  line-height: 60px;
  font-weight: 700 !important;
  margin: 2rem 0 1rem 0;
}
.btech-brexit-h2 {
  font-size: 48px !important;
  line-height: 48px;
  font-weight: 700 !important;
  margin: 1.75rem 0 0.875rem 0;
}
.btech-brexit-h3 {
  font-size: 36px !important;
  line-height: 48px;
  font-weight: 700 !important;
  margin: 3rem 0 2rem 0;
}
.btech-brexit-h4 {
  font-size: 30px !important;
  line-height: 36px;
  font-weight: 700 !important;
  margin: 1.25rem 0 0.625rem 0;
}
.btech-brexit-h5 {
  font-size: 21px !important;
  line-height: 32px;
  font-weight: 700 !important;
  margin: 1rem 0 0.5rem 0;
}
.btech-brexit-h6 {
  font-size: 18px !important;
  line-height: 16px;
  font-weight: 700 !important;
  margin: 0.75rem 0 0.75rem 0;
}
.btech-brexit-p {
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 1rem 0;
  color: #334155;
}
.btech-brexit-hr {
  border: 0;
  border-top: 1px solid #e2e8f0;
  margin: 2rem;
  width: calc(100% - 4rem);
}

.btech-brexit-blockquote {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-left: 4px solid #1e293b;
  color: #334155;
  font-size: 16px;
  line-height: 28px;
}

.btech-brexit-codeblock {
  font-family: monospace;
  background-color: #f2f5fa;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21px;
  width: calc(100% - 1rem);
  overflow-x: auto;
  margin: 1rem 0;
  border: none;
}

.btech-brexit-list {
  margin: 1rem 0;
  padding-left: 2.5rem;
}

.btech-brexit-listitem {
  margin-bottom: 0.5rem;
}

.btech-brexit-checkbox {
  margin-right: 0.5rem;
}

.btech-brexit-table-container {
  width: calc(100% - 1rem);
  overflow: hidden;
  background-color: #f2f5fa;
  border-radius: 8px;
  overflow-x: auto;
  padding: 0.5rem;
}

.btech-brexit-table {
  width: 100%;
  min-width: 30rem;
  border-collapse: collapse;
  margin: 1rem 0;
  border: none;
}

.btech-brexit-tablecell,
.btech-brexit-tablerow {
  padding: 0.5rem;
  line-height: 24px;
  vertical-align: top;
}

.btech-brexit-tablerow {
  border-bottom: 1px solid #e2e8f0;
}

tbody .btech-brexit-tablerow:last-child {
  border-bottom: none;
}

.btech-brexit-tablecell {
  border-right: 1px solid #e2e8f0;
}

.btech-brexit-tablecell:last-child {
  border-right: none;
}

.btech-brexit-tablecell[align="center"] {
  text-align: center;
}

.btech-brexit-tablecell[align="right"] {
  text-align: right;
}

.btech-brexit-codespan {
  font-family: monospace;
  background-color: #f2f5fa;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21px;
  border: none;
}
.btech-brexit-link:hover {
  text-decoration: underline;
}

.btech-brexit-image {
  max-width: 100%;
  height: auto;
}
