.btech-brexit-page {
    font-size: 18px;
    line-height: 2em;
    color: #334155;
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 75ch;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.btech-brexit-page * {
    box-sizing: border-box;
}
.btech-brexit-h1,
.btech-brexit-h2,
.btech-brexit-h3,
.btech-brexit-h4,
.btech-brexit-h5,
.btech-brexit-h6 {
    color: #334155;
}
.btech-brexit-h1 {
    font-size: 3.33em !important;
    line-height: 1;
    font-weight: 700 !important;
    margin: 0.5em 0 0.25em;
}
.btech-brexit-h2 {
    font-size: 2.67em !important;
    line-height: 1;
    font-weight: 700 !important;
    margin: 0.5em 0 0.25em;
}
.btech-brexit-h3 {
    font-size: 2em !important;
    line-height: 1.2em;
    font-weight: 700 !important;
    margin: 0.5em 0 0.25em;
}
.btech-brexit-h4 {
    font-size: 1.67em !important;
    line-height: 1.2em;
    font-weight: 700 !important;
    margin: 0.5em 0 0.25em;
}
.btech-brexit-h5 {
    font-size: 1.32em !important;
    line-height: 1.3em;
    font-weight: 700 !important;
    margin: 0.5em 0 0.25em;
}
.btech-brexit-h6 {
    font-size: 1.11em !important;
    line-height: 1.3em;
    font-weight: 700 !important;
    margin: 0.5em 0 0.25em;
}
.btech-brexit-p {
    margin: 0 0 1em;
    color: #334155;
}
.btech-brexit-hr {
    border: 0;
    border-top: 1px solid #e2e8f0;
    margin: 1em 0 2em;
    width: 100%;
}
.btech-brexit-blockquote {
    margin: 0 0 1em;
    padding: 0.5em 1em;
    border-left: 4px solid #1e293b;
    color: #334155;
}
.btech-brexit-blockquote .btech-brexit-p:last-child {
    margin: 0;
}
.btech-brexit-codeblock {
    font-family: monospace;
    background-color: #f2f5fa;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
    overflow-x: auto;
    margin: 0 0 2em;
    border: none;
}
.btech-brexit-list {
    margin: 0 0 1em;
    padding-left: 2.5em;
}
.btech-brexit-listitem {
    margin-bottom: 0.5em;
}
.btech-brexit-checkbox {
    margin-right: 0.5em;
}
.btech-brexit-table-container {
    width: 100%;
    overflow: hidden;
    background-color: #fafafd;
    border-radius: 8px;
    overflow-x: auto;
    padding: 1em;
}
.btech-brexit-table {
    width: 100%;
    min-width: 30em;
    border-collapse: collapse;
    margin: 0;
    border: none;
}
.btech-brexit-tablecell,
.btech-brexit-tablerow {
    padding: 0.5em;
    line-height: 24px;
    vertical-align: top;
}
.btech-brexit-tablerow {
    border-bottom: 1px solid #d7dfea;
}
tbody .btech-brexit-tablerow:last-child {
    border-bottom: none;
}
.btech-brexit-tablecell {
    border-right: 1px solid #d7dfea;
}
.btech-brexit-tablecell:last-child {
    border-right: none;
}
.btech-brexit-tablecell[align="center"] {
    text-align: center;
}
.btech-brexit-tablecell[align="right"] {
    text-align: right;
}
.btech-brexit-codespan {
    font-family: monospace;
    background-color: #f2f5fa;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    line-height: 21px;
    border: none;
    float: none !important;
    margin-left: 0 !important;
}
.btech-brexit-link:hover {
    text-decoration: underline;
}
.btech-brexit-image {
    height: auto;
    display: block;
    margin: 2em auto;
}
.btech-brexit-p:has(> .btech-brexit-image) {
    width: 100%;
}
.btech-brexit-alert {
    width: 100%;
    border-radius: 10px;
    margin: 0 0 1em;
    padding: 20px 20px 20px 64px;
}
.btech-brexit-alert>p {
    margin: 0 0 10px;
}
.btech-brexit-alert>p:first-child {
    font-weight: 700;
    line-height: 1.25em;
}
.btech-brexit-alert>p:first-child::before {
    box-sizing: content-box;
    display: block;
    float: left;
    height: 24px;
    margin-left: -44px;
    margin-top: -2px;
    padding-right: 20px;
    width: 24px;
}
.btech-brexit-alert>p:last-child {
    margin: 0;
}
.btech-brexit-red {
    background: #fee2e2;
}
.btech-brexit-alert.btech-brexit-red>p:first-child::before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23FF4645'/%3E%3Crect width='1' height='5' x='7.5' y='6.5' stroke='%23fff' rx='.5'/%3E%3Ccircle cx='8' cy='4' r='1' fill='%23fff'/%3E%3C/svg%3E");
}
.btech-brexit-green {
    background: #dcfce7;
    color: #14532d;
}
.btech-brexit-alert.btech-brexit-green>p:first-child::before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%2356BD67'/%3E%3Crect width='1' height='5' x='7.5' y='6.5' stroke='%23fff' rx='.5'/%3E%3Ccircle cx='8' cy='4' r='1' fill='%23fff'/%3E%3C/svg%3E");
}
.btech-brexit-blue {
    background: #dbeafe;
    color: #1e3a8a;
}
.btech-brexit-alert.btech-brexit-blue>p:first-child::before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23027BF3'/%3E%3Crect width='1' height='5' x='7.5' y='6.5' stroke='%23fff' rx='.5'/%3E%3Ccircle cx='8' cy='4' r='1' fill='%23fff'/%3E%3C/svg%3E");
}
.btech-brexit-orange {
    background: #fef3c7;
    color: #78350f;
}
.btech-brexit-alert.btech-brexit-orange>p:first-child::before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23F19518'/%3E%3Crect width='1' height='5' x='7.5' y='6.5' stroke='%23fff' rx='.5'/%3E%3Ccircle cx='8' cy='4' r='1' fill='%23fff'/%3E%3C/svg%3E");
}
.btech-brexit-cut {
    width: 100%;
    margin: 0 0 1em;
}
.btech-brexit-cut-title {
    padding: 0.5em;
    background: #f6f6fa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btech-brexit-cut-body {
    padding: 0.5em 1em;
    background: #f0f0f5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
