.mainContainer {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 52rem;
  padding: 2rem;
  margin: 0 auto;
}

.play {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-weight: 700;
  font-family: "Gloria Hallelujah", cursive;
}

.img-container {
  width: 100%;
  display: flex;
}

.copy-img {
  justify-content: flex-end;
}

.see-img {
  justify-content: center;
}

.img-container img {
  display: block;
  position: relative;
  margin: 0 3rem;
}

.enter-img img {
  height: 60px;
}

.copy-img img {
  height: 72px;
  right: 0;
}

.see-img img {
  height: 80px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 2rem;
}

.input {
  width: 100%;
  max-width: 50rem;
  height: 400px;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 16px;
  font-family: monospace;
  margin: 1rem;
  border: 2px solid #ccc;
  border-radius: 1rem;
}

.copy-button {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    margin: 1rem;
    background: #22CA5A;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.copy-button:hover {
    background: #33DB6B;
}

.icon {
  width: 100px;
}
#app {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8rem;
}
